body.front {
 background-color: #FAFAFA;
}
table.front {
 width: 100%;
}
table.front tr {
 vertical-align: middle;
}
table.front td {
}
table.front a:link {
 color:black;
 text-decoration: none;
}
table.front a:visited {
 color:black;
}
table.front a:hover {
 color:black;
 text-decoration: underline;
}
table.front a:active {
 color:black;
}
table.front a:focus {
 color:black;
}
table.front h1 {
 color: black;
 text-align: center;
 font-family: sans-serif;
}
table.front h2 {
 color: black;
 text-align: center;
 font-family: sans-serif;
}
table.front h3 {
 color: black;
 text-align: center;
 font-family: sans-serif;
}
