<!doctype HTML>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="./front.css"/>
  <link rel="shortcut icon" href="./mpoLogo.svg" type="image/svg">
  <title>{{webserver_welcomemessage}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta http-equiv="expires" content="0"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
 </head>
 <body class="front">
  <table class="front">
   <tr>
    <td>
     <h1>{{webserver_welcomemessage}}</h1>
     <hr>
     <h2><a class="front" href="javascript:startMC();">Platten &amp; CDs</a></h2>
     <h2><a class="front" href="javascript:startPicApport();">Picapport</a></h2>
    </td>
   </tr>
  </table>

  <script>

   function startMC() {

    window.open(".{{webserver_link_to_mc}}", "MC", "left=50,top=0,width=1100,height=850,menubar=no,status=no,resizable=yes");

   }


   function startPicApport() {

    window.open(".{{webserver_link_to_picapport}}", "Picapport", "left=0,top=0,width=1100,height=850,menubar=no,status=no,resizable=yes");

   }

  </script>
 </body>
</html>
